#########################################################
##            FREQUENTLY USED KEYWORDS                 ##
#########################################################

OBS_EXPTIME             1          # [sec] simulated exposure time
OBS_NDIT                1           # [#] number of exposures taken
OBS_OUTPUT_DIR          default     # Path to save output in. Default is "./"

SIM_DETECTOR_PIX_SCALE  0.004       # [arcsec] plate scale of the detector
SIM_VERBOSE             no         # [yes/no] print information on the simulation run
SIM_OVERSAMPLING        1   

ATMO_USE_ATMO_BG        no          # [yes/no]

SCOPE_USE_MIRROR_BG     no         # [yes/no]
SCOPE_NUM_MIRRORS       6           # number of reflecting surfaces
SCOPE_PSF_FILE          data/PSF_POPPY.fits

INST_FILTER_TC          K           # specify a standard broadband filter of a file path to a transmission curve. Accepted broadband filters: I z Y J H Ks K
INST_NUM_MIRRORS        0           # number of reflecting surfaces in MICADO
INST_NUM_EXT_MIRRORS    0           # number of reflecting surfaces between telescope and instrument (i.e. MAORY)

FPA_USE_NOISE           no         # [yes/no]
FPA_CHIP_LAYOUT         small      # description of the chip layout on the detector array. if "default": <pkg_dir>/data/FPA_chip_layout.dat
