# Byte-compiled files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
eggs/
.eggs/
*.egg-info/
*.egg
MANIFEST

# win/mac stuff
.DS_Store

# emacs backup files
*~

# other stuff
stable_dists
git-ignored
old
pdfs
data_backup
.cache

# Documentation
SimCADO/simcado/docs/build
SimCADO/simcado/docs/source/_build
SimCADO/simcado/docs/source/_static
