##### ATMOSPHERE #####
ATMO_USE_SKYCALC_TC     yes         # use a skycalc FITS table, or provide separate tables for tc/ec
ATMO_USE_SKYCALC_EC     yes         # use a skycalc FITS table, or provide separate tables for tc/ec
ATMO_SKYCALC_FILE      ../Emission_curves/skytable.fits
ATMO_TC                none        # transmission curve file path
ATMO_EC                none        # emission curve file path
ATMO_BG_PHOTONS        10        # [ph/s] for the bandpass in use

ATMO_TEMPERATURE       0           # deg Celcius
ATMO_PRESSURE          750         # millibar
ATMO_REL_HUMIDITY      60          # %
ATMO_ZENITH_DIST       60          # deg from zenith