

##### DETECTOR #####

HXRG_NUM_OUTPUTS        32 
HXRG_NUM_ROW_OH         8 
HXRG_PCA0_FILENAME      ../data/nirspec_pca0.fits  
HXRG_NOISE_PATH         ../data/H4RG_noise.fits  
HXRG_PEDESTAL           4 
HXRG_CORR_PINK          3 
HXRG_UNCORR_PINK        1 
HXRG_ALT_COL_NOISE      0.5 

FPA_READOUT_MEDIAN      4 
FPA_READOUT_STDEV       1           # e-/px
FPA_DARK_MEDIAN         0.01 
FPA_DARK_STDEV          0.01        # e-/s/px
FPA_QE_FILENAME         ../Transmission_curves/TC_detector_H4RG.dat 
FPA_DISTORTION_MAP      None        
FPA_LINEARITY_CURVE     None        # 
FPA_GAIN                1           # e- to ADU conversion
FPA_WELL_DEPTH          1E5         # number of photons collectable before pixel is full
