##### OBSERVATIONS #####
OBS_ALT                none
OBS_AZ                 none
OBS_ZENITH_DIST        60          # deg from zenith
OBS_SEEING             none
OBS_EXPTIME            600         # [sec] simulated exposure time

OBS_USE_FILTER_LAM     yes        # yes/no to basing the wavelength range off the filter non-zero range - if no, specify LAM_MIN, LAM_MAX
OBS_FILTER_THRESHHOLD  1E-5       # transmission below this threshold is assumed to be 0
OBS_LAM_MIN            1.9        # [um] lower wavelength range of observation
OBS_LAM_MAX            2.41       # [um] upper wavelength range of observation
OBS_LAM_BIN_WIDTH      0.1        # [um]    
OBS_PIXEL_SCALE        4          # [mas]
OBS_PIXEL_THRESHOLD    0        # photons per pixel summed over the wavelength range

OBS_INPUT_FILENAME     /media/sf_Share_VW/Data_for_SimCADO/sim_input/cluster10000_1.0_Myr_800.0_kpc.fits
OBS_FITS_EXT		   0          # the extension number where the useful data cube is

OBS_OUT_SIGNAL         yes
OBS_OUT_NOISE          yes
OBS_OUT_READOUT        yes
OBS_OUT_REDUCED        yes