################################################################################
# Parameters regarding the simulated "observation"

OBS_DATE                none        # [dd/mm/yyyy] Date of the observation [not yet implemented]
OBS_TIME                none        # [hh:mm:ss] Time of the observation [not yet implemented]
OBS_RA                  none        # [deg] RA of the object [not yet implemented]
OBS_DEC                 none        # [deg] Dec of the object [not yet implemented]       
OBS_ALT                 none        # [deg] Altitude of the object [not yet implemented]       
OBS_AZ                  none        # [deg] Azimuth of the object [not yet implemented]
OBS_ZENITH_DIST         60          # [deg] from zenith
OBS_PARALLACTIC_ANGLE   0           # [deg] rotation of the source relative to the zenith
OBS_SEEING              none        # [arcsec]
OBS_EXPTIME             600         # [sec] simulated exposure time

OBS_INPUT_DIR           none        #
OBS_INPUT_NAME          /media/sf_Share_VW/Data_for_SimCADO/sim_input/cluster10000_1.0_Myr_800.0_kpc.fits
OBS_FITS_EXT		    0           # the extension number where the useful data cube is

OBS_OUTPUT_DIR          none        #
OBS_OUTPUT_NAME         none        #

OBS_OUT_SIGNAL          yes         # yes/no to saving the signal component of the observation
OBS_OUT_NOISE           yes         # yes/no to saving the noise component of the observation
OBS_OUT_READOUT         yes         # yes/no to saving the readout component of the observation
OBS_OUT_REDUCED         yes         # yes/no to saving a background subtracted readout image


################################################################################
# Parameters relating to the simulation

SIM_INTERNAL_PIX_SCALE  0.004       # [arcsec]
SIM_DETECTOR_PIX_SCALE  0.004       # [arcsec]
SIM_PIXEL_THRESHOLD     1           # photons per pixel summed over the wavelength range. Values less than this are assumed to be zero

SIM_LAM_PSF_BIN_WIDTH   0.1         # [µm] wavelength resolution of the PSF layers
SIM_LAM_TC_BIN_WIDTH    0.001       # [µm] wavelength resolution of spectral curves
SIM_SPEC_MIN_STEP       1E-4        # [µm] minimum step size where resampling spectral curves

SIM_USE_FILTER_LAM      yes         # yes/no to basing the wavelength range off the filter non-zero range - if no, specify LAM_MIN, LAM_MAX
SIM_FILTER_THRESHHOLD   1E-6        # transmission below this threshold is assumed to be 0
SIM_LAM_MIN             1.9         # [um] lower wavelength range of observation
SIM_LAM_MAX             2.41        # [um] upper wavelength range of observation



