################################################################################
# Observation Parameters

OBS_DATE                1985-10-26              # [dd/mm/yyyy] Date of the observation [not yet implemented]
OBS_TIME                01:35                   # [hh:mm:ss] Time of the observation [not yet implemented]
OBS_RA                  None                    # [deg] RA of the object
OBS_DEC                 None                    # [deg] Dec of the object
OBS_ALT                 None                    # [deg] Altitude of the object [not yet implemented]
OBS_AZ                  None                    # [deg] Azimuth of the object [not yet implemented]
OBS_ZENITH_DIST         None                    # [deg] from zenith
OBS_PARALLACTIC_ANGLE   None                    # [deg] rotation of the source relative to the zenith
OBS_SEEING              None                    # [arcsec]
OBS_FIELD_ROTATION      None                    # [deg] field rotation with respect to the detector array

OBS_EXPTIME             None                    # [sec] simulated exposure time
OBS_NDIT                None                    # [#] number of exposures taken
OBS_NONDESTRUCT_TRO     None                    # [sec] time between non-destructive readouts in the detector
OBS_REMOVE_CONST_BG     no                      # remove the median background value
OBS_READ_MODE           single                  # [single, fowler, ramp] Only single is implemented at the moment
OBS_SAVE_ALL_FRAMES     no                      # yes/no to saving all DITs in an NDIT sequence

OBS_INPUT_SOURCE_PATH   None                    # Path to input Source FITS file
OBS_FITS_EXT            0                       # the extension number where the useful data cube is


################################################################################
# Simulation Parameters
SIM_DATA_DIR            None                    # path to data files
# or
SIM_TELESCOPE_PACKAGE   None                    # name of telescope package
SIM_INSTRUMENT_PACKAGE  None                    # name of instrument package
SIM_SOURCE_PACKAGE      None                    # name of source package
SIM_OBSERVING_MODE      None

SIM_SYSTEM_DESCRIPTION  None                    # File containing YAML descriptions of all optical elements

SIM_DETECTOR_PIX_SCALE  None                    # [arcsec] plate scale of the detector
SIM_OVERSAMPLING        None                    # The factor of oversampling inside the simulation
SIM_PIXEL_THRESHOLD     None                    # photons per pixel summed over the wavelength range. Values less than this are assumed to be zero

SIM_LAM_TC_BIN_WIDTH    None                    # [um] wavelength resolution of spectral curves
SIM_SPEC_MIN_STEP       None                    # [um] minimum step size where resampling spectral curves

SIM_FILTER_THRESHOLD    None                    # transmission below this threshold is assumed to be 0
SIM_USE_FILTER_LAM      yes                     # [yes/no] to basing the wavelength range off the filter non-zero range - if no, specify LAM_MIN, LAM_MAX
# if "no"
SIM_LAM_MIN             None                    # [um] lower wavelength range of observation
SIM_LAM_MID             None                    # [um] the centre of the wavelength range, for determining the centre of spectroscopyic observations
SIM_LAM_MAX             None                    # [um] upper wavelength range of observation
SIM_LAM_PSF_BIN_WIDTH   None                    # [um] wavelength resolution of the PSF layers
SIM_ADC_SHIFT_THRESHOLD None                    # [pixel] the spatial shift before a new spectral layer is added (i.e. how often the spectral domain is sampled for an under-performing ADC)

SIM_PSF_SIZE            1024                    # size of PSF
SIM_PSF_OVERSAMPLE      no                      # use astropy's inbuilt oversampling technique when generating the PSFs. Kills memory for PSFs over 511 x 511
SIM_VERBOSE             no                      # [yes/no] print information on the simulation run
SIM_SIM_MESSAGE_LEVEL   3                       # the amount of information printed [5-everything, 0-nothing]


################################################################################
# Atmospheric Parameters

ATMO_USE_ATMO_BG        no                      # [yes/no]

ATMO_AIRMASS            1.0                     # airmass, can be overridden by OBS_ZENITH_DIST
ATMO_TC                 None                    # [filename] for atmospheric transmission curve. Default: <pkg_dir>/data/TC_sky_25.tbl
ATMO_EC                 None                    # [filename, "none"] for atmospheric emission curve. Default: <pkg_dir>/data/EC_sky_25.tbl
ATMO_BG_MAGNITUDE       None                    # [ph/s] background photons for the bandpass. If set to None, the ATMO_EC spectrum is assumed to return the needed number of photons

ATMO_TEMPERATURE        0                       # deg Celcius
ATMO_PRESSURE           750                     # millibar
ATMO_REL_HUMIDITY       60                      # %
ATMO_PWV                2.5                     # [mm] Paranal standard value


################################################################################
# Telescope Parameters

SCOPE_ALTITUDE          3060                    # meters above sea level
SCOPE_LATITUDE          -24.589167              # decimal degrees
SCOPE_LONGITUDE         -70.192222              # decimal degrees
SCOPE_TEMPERATURE       9.                      # temperature of telescope [Celsius]

SCOPE_PSF_FILE          None                    # either a filename of the name of a PSF in the local package database
SCOPE_STREHL_RATIO      None                    # [0..1] defines the strength of the seeing halo if SCOPE_PSF_FILE is "default"
SCOPE_AO_EFFECTIVENESS  None                    # [%] percentage of seeing PSF corrected by AO - 100% = diff limited, 0% = 0.8" seeing
SCOPE_JITTER_FWHM       None                    # [arcsec] gaussian telescope jitter (wind, tracking)
SCOPE_DRIFT_DISTANCE    None                    # [arcsec/sec] the drift in tracking by the telescope
SCOPE_DRIFT_PROFILE     linear                  # [linear, gaussian] the drift profile. If linear, simulates when tracking is off. If gaussian, simulates rms distance of tracking errors

SCOPE_USE_MIRROR_BG     no                      # [yes/no]

SCOPE_NUM_MIRRORS       None                       # number of reflecting surfaces
SCOPE_M1_TC             None                    # [filename] Mirror reflectance curve. Default: <pkg_dir>/data/TC_mirror_EELT.dat
SCOPE_MIRROR_LIST       None                    # [filename] List of mirror sizes.     Default: <pkg_dir>/data/EC_mirrors_EELT_SCAO.tbl


################################################################################
# Instrument Parameters

INST_TEMPERATURE        None                    # deg Celsius - inside temp of instrument

INST_ENTR_NUM_SURFACES  None                    # number of surfaces on the entrance window
INST_ENTR_WINDOW_TC     None                    # [filename] Default: <pkg_dir>/data/TC_window.dat --> transmission = 0.98 per surface

INST_DICHROIC_NUM_SURFACES  None                # number of surfaces on the entrance window
INST_DICHROIC_TC        None                    # [filename] Default: <pkg_dir>/data/TC_dichroic.dat --> transmission = 1 per surface

INST_FILTER_TC          None                    # [filename, string(filter name)] List acceptable filters with >>> simcado.optics.get_filter_set()

INST_PUPIL_NUM_SURFACES None                    # number of surfaces on the pupil window
INST_PUPIL_TC           None                    # [filename] Default: <pkg_dir>/data/TC_pupil.dat --> transmission = 1 per surface

INST_MIRROR_LIST        None                    # List of mirrors in the instrument. Default: <pkg_dir>/data/EC_mirrors_ao.tbl
INST_NUM_MIRRORS        None                    # number of reflecting surfaces in MICADO
INST_MIRROR_TC          None                    # Filename of instrument mirror transmission curve

INST_USE_AO_MIRROR_BG   no                      # [yes/no]
INST_AO_TEMPERATURE     None                    # deg Celsius - inside temp of AO module
INST_NUM_AO_MIRRORS     None                    # number of reflecting surfaces between telescope and instrument (i.e. MAORY)
INST_MIRROR_AO_TC       None                    # Filename of CFO mirror transmission curve
INST_MIRROR_AO_LIST     None                    # List of mirrors in the AO. Default: <pkg_dir>/data/EC_mirrors_ao.tbl

INST_ADC_PERFORMANCE    None                    # [%] how well the ADC does its job
INST_ADC_NUM_SURFACES   None                    # number of surfaces in the ADC
INST_ADC_TC             None                    # [filename] Default: <pkg_dir>/data/TC_ADC.dat --> transmission = 0.98 per surface

INST_DEROT_PERFORMANCE  None                    # [%] how well the derotator derotates
INST_DEROT_PROFILE      linear                  # [linear, gaussian] the profile with which it does it's job

INST_DISTORTION_MAP     None                    # path to distortion map
INST_WFE                None                    # [nm] (float or filename) A single number for the total WFE of a table of wavefront errors for each surface in the instrument
INST_FLAT_FIELD         None                    # path to a FITS file containing a flat field (median = 1) for each chip.

################################################################################
# Spectroscopy parameters

SPEC_ORDER_SORT         None                    # Order-sorting filter: "HK" or "IJ"
SPEC_SLIT_WIDTH         narrow                  # Slit width: "narrow" or "wide"

################################################################################
# Detector parameters

FPA_USE_NOISE           no                      # [yes/no]

FPA_READOUT_MEDIAN      None                    # e-/px
FPA_READOUT_STDEV       None                    # e-/px
FPA_DARK_MEDIAN         None                    # e-/s/px
FPA_DARK_STDEV          None                    # e-/s/px

FPA_QE                  None                    # [filename] Quantum efficiency of detector.
FPA_NOISE_PATH          None                    # [filename, "generate"] if "generate": use NGHxRG to create a noise frame.
FPA_GAIN                None                    # e- to ADU conversion
FPA_LINEARITY_CURVE     None                    # [filename, "none"]
FPA_FULL_WELL_DEPTH     None                    # [e-] The level where saturation occurs

FPA_PIXEL_MAP           None                    # path to a FITS file with the pixel sensitivity map
# if FPA_PIXEL_MAP == none
FPA_DEAD_PIXELS         None                    # [%] if FPA_PIXEL_MAP=none, a percentage of detector pixel which are dead
FPA_DEAD_LINES          None                    # [%] if FPA_PIXEL_MAP=none, a percentage of detector lines which are dead

FPA_CHIP_LAYOUT         None                    # ["tiny", "small", "centre", "full", <filename>] description of the chip layout on the detector array.
FPA_PIXEL_READ_TIME     None                    # [s] read time for y pixel - typically ~10 us
FPA_READ_OUT_SCHEME     None                    # "none" "double_corr", "up-the-ramp", "fowler"

################################################################################
# NXRG Noise Generator package parameters
# See Rauscher (2015) for details
# http://arxiv.org/pdf/1509.06264.pdf

HXRG_NUM_OUTPUTS        64                      # Number of
HXRG_NUM_ROW_OH         8                       # Number of row overheads
HXRG_PCA0_FILENAME      None                    # if "default": <pkg_dir>/data/
HXRG_OUTPUT_PATH        None                    # Path to save the detector noise
HXRG_PEDESTAL           4                       # Pedestal noise
HXRG_CORR_PINK          3                       # Correlated Pink noise
HXRG_UNCORR_PINK        1                       # Uncorrelated Pink noise
HXRG_ALT_COL_NOISE      0.5                     # Alternating Column noise

HXRG_NAXIS1             4096                    # Size of the HAWAII 4RG detectors
HXRG_NAXIS2             4096
HXRG_NUM_NDRO           1                       # Number of non-destructive readouts to add to a noise cube
