simcado/docs/build
examples
simcado/docs/source/API
SimCADO.egg-info
data_ext
dist


.idea
build
__pycache__

MANIFEST

*.py[co]
version.py
*.ipynb_checkpoints

*.FITS
*.old
*.zip
*.bmp
*.log

*.png
!apply_optical_train.png

*.fits
!FPA_nirspec_pca0.fits
!skytable.fits
!EC_pickles.fits
!LMC_Ha.fits
!LMC_R.fits

*.jpg
!The_E-ELT_Primary_Mirror_edit.jpg