*.py[co]
__pycache__
*.FITS
*.old
*.zip
*.bmp
*.png
!apply_optical_train.png
*.fits
!FPA_nirspec_pca0.fits
!skytable.fits
!EC_pickles.fits
!LMC_Ha.fits
!LMC_R.fits
*.jpg
!The_E-ELT_Primary_Mirror_edit.jpg
simcado/docs/SimCADocs/site

MANIFEST
/.idea
simcado/version.py