################################################################################
# General atmospheric parameters

ATMO_TC                 ../data/skytable.fits
ATMO_EC                 ../data/skytable.fits
ATMO_BG_PHOTONS         10          # [ph/s] for the bandpass if ATMO_EC = None

ATMO_TEMPERATURE        0           # deg Celcius
ATMO_PRESSURE           750         # millibar
ATMO_REL_HUMIDITY       60          # %