################################################################################
# General detector parameters

FPA_READOUT_MEDIAN      4           # e-/px
FPA_READOUT_STDEV       1           # e-/px
FPA_DARK_MEDIAN         0.01        # e-/s/px
FPA_DARK_STDEV          0.01        # e-/s/px
FPA_QE                  ../data/TC_detector_H4RG.dat 
FPA_NOISE_PATH          ../data/FPA_chip.fits 
FPA_GAIN                1           # e- to ADU conversion
FPA_WELL_DEPTH          1E5         # number of photons collectable before pixel is full
FPA_LINEARITY_CURVE     none        # 
FPA_DEAD_PIXELS         1           # [%] either path to a FITS file or a percentage of detector pixel which are dead
FPA_CHIP_LAYOUT         none        # description of the chip layout on the detector array

################################################################################
# NXRG Noise Generator package parameters
# See Rauscher (2015) for a summary of what they mean
# http://arxiv.org/pdf/1509.06264.pdf

HXRG_NUM_OUTPUTS        32          # Number of 
HXRG_NUM_ROW_OH         8           # Number of row overheads
HXRG_PCA0_FILENAME      ../data/FPA_nirspec_pca0.fits  
HXRG_OUTPUT_PATH        ../output/H4RG_noise.fits  
HXRG_PEDESTAL           4           # Pedestal noise
HXRG_CORR_PINK          3           # Correlated Pink noise
HXRG_UNCORR_PINK        1           # Uncorrelated Pink noise
HXRG_ALT_COL_NOISE      0.5         # Alternating Column noise
