################################################################################
# Options for saving and reusing optical trains

OPTICAL_TRAIN_IN_PATH   none        #    
OPTICAL_TRAIN_OUT_PATH  none        #


################################################################################
# Parameters regarding the telescope

SCOPE_ALTITUDE          3060        # meters above sea level
SCOPE_LATITUDE          -24.589167  # decimal degrees
SCOPE_LONGITUDE         -70.192222  # decimal degrees

SCOPE_PSF_FILE          none        # import a PSF from a file or generate PSF internally
SCOPE_AO_EFFECTIVENESS  100         # [%] percentage of seeing PSF corrected by AO - 100% = diff limited, 0% = 0.6" seeing
SCOPE_JITTER_FWHM       0.005       # [arcsec] assuming a gaussian for general jitter, FWHM in milli-arcsec

# Similar details can be specified for each individual mirror by copying these 
# keywords and replacing M1 with Mx. Properties not explicitly specified are 
# inherited from M1.
SCOPE_NUM_MIRRORS       6           # number of reflecting surfaces
SCOPE_M1_DIAMETER_OUT   39.3        # meters
SCOPE_M1_DIAMETER_IN    4.0         # meters
SCOPE_M1_TC             ../data/TC_mirror_mgf2agal.dat
SCOPE_M1_TEMP           0           # deg Celsius - temperature of mirror


################################################################################
# Parameters regarding the instrument

INST_TEMPERATURE        -190        # deg Celsius - inside temp of instrument 
INST_ENTR_WINDOW_TC     none
INST_DICHROIC_TC        none
INST_FILTER_TC          Ks          # either specify a well know filter of a file path to a transmission curve 

INST_ADC_EFFICIENCY     0           # [%] how well the ADC does its job
INST_ADC_NO_SURFACES    4           # number of surfaces in the ADC
INST_ADC_TC             None        # transmission curve of the ADC

INST_DISTORTION_MAP     none        # path to distortion map